h1 {
  	text-align: center;
}

html {
	background-color: #FFF;
	color: #2E343B;
  	font-size:20px;
	
}

img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  max-width: 100%;
  max-height: 350px; 
}

.container {
	display: grid;
	grid-template-columns: 450px 1fr 1fr;
  grid-template-rows: auto;
}

.column2, .column3 {
    background-color: #7EACB8;
  	border: 5px solid black;
  	margin: 0 auto;
  	padding: 10px;
  	font-family: 'Reem Kufi', sans-serif;
    height: auto;

}

.column2 {
  grid-column-start: 2;
}

.column3 {
  grid-column-start: 3;
}

.sidebar {
  position: fixed;
  width: 400px;
  background-color: #7EACB8;
  border: 5px solid black;
  margin: 0;
  padding: 10px;
  font-family: 'Reem Kufi', sans-serif;
}
